/* Universal Styles*/

body {
    background-color: black;
    color: white;
    font-family:Verdana, sans-serif;
    text-align: center;
    font-size: 16px;
}


h1 {
    font-size: 50px;
}

h2 {
    font-size: 42px;
    font-weight: 300;
}

a:link{
    color: aquamarine;
}

.travel p,
footer p {
    color: gray;
}

/* section styles*/

.travel p {
    font-size: 21px;
}

/* footer styles*/

footer p {
    text-align: right;
}